* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  margin: 5rem;
  display: grid;
  grid-gap: 3rem; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  align-items: center;
}

.grid > * {
  display: flex;
  justify-content: center;
} 

.share {
  background-color: black;
  color: #aaaaaa;
  top: 80vh;
  position: absolute;
  padding: .5rem .8rem;
  border: none;
}